<!doctype html>
<html>
<head>
  <title>Disco Drinks</title>
  <!-- Link to the external CSS stylesheet -->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="card">
      <!-- Main heading for the About page -->
      <h1>About Disco Drinks Shop</h1>
      <!-- Description of the shop -->
      <p class="muted">We sell all sorts of drinks</p>

      <h2>Our Locations</h2>
      <ul>
        <li>London Branch - 2000 Jackson Street, London Manager: Bob Geldoff</li>
        <li>Liverpool Branch - 1 Penny Lane, Liverpool Manager:John Lennon</li>
    </div>
  </div>
</body>
</html>